@using EShop.Models
@using EShop.Services.Interfaces

@inject IIdentityParser<ApplicationUser> UserManager

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="d-flex">
        <form asp-area="" asp-controller="Account" asp-action="Signout" method="post" id="logoutForm" class="navbar-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @UserManager.Parse(User).Name
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                        <img src="~/images/logout.png" alt="logout">
                        Log Out
                    </a>
                </li>
            </ul>
        </form>
    </div>
}
else
{
    <div class="d-flex">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="SignIn">
            Login
        </a>
    </div>
}